{% extends 'bootstrap/base.html' %} {% block title %} {% if title %}{{
title }} - server_argon
</title>
{% else %}
<title>server_argon</title>
{% endif %} {% endblock %} {% block navbar %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<!-- Toggle version -->
		<a class="navbar-brand" href="{{ url_for('index') }}"> <img
			src="{{ url_for('static', filename='img/iss200_tiny.png') }}"
			style="display: inline-block;"> <span
			style="display: inline-block;">Server Argon</span>
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#myNavbar" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<!-- Desktop version -->
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li><a href="javascript:deleteDatabase();">Delete database
						entries</a></li>
				<li><a href="javascript:add5readings();">Add 5 readings to
						db</a></li>
				<li><a href="javascript:add5readingsMQTT();">Send 5
						readings via MQTT</a></li>
			</ul>
		</div>
	</div>

</nav>

{% endblock %} {% block content %}


<div class="container">
	<!-- Pretty Check boxes https://lokesh-coder.github.io/pretty-checkbox/#installation -->
	<div class="row">
		<div class="col-md-4 nopadding">
			<span id="databaseReadingsButton"> <a
				href="javascript:get_database('#databaseReadingsText','#databaseReadingsCount');">UpdateDatabase</a>
				# of calls =
			</span> <span id="#counterValue">0</span>
		</div>
		<div class="col-md-4 nopadding">
			Database Updating?:
			<div class="pretty p-switch p-fill">
				<input type="checkbox" id="dbupdates" name="dbcheckbox"
					onclick="db_updates();" />
				<div class="state p-success">
					<label id="dbstatus">Status?</label>
				</div>
			</div>
		</div>
		<div class="col-md-4 nopadding">
			Database Readings count = <span id="#databaseReadingsCount">0</span>
		</div>
	</div>
</div>

<hr>
<div class="container">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#map">Map</a></li>
		<li><a data-toggle="tab" href="#plots">Background</a></li>
		<li><a data-toggle="tab" href="#rawdb">Raw db</a></li>

	</ul>

	<div class="tab-content">
		<div id="map" class="tab-pane fade in active">{% block
			map_content %} {% endblock %}</div>
		<div id="plots" class="tab-pane fade">{% block plots_content %}
			{% endblock %}</div>
		<div id="rawdb" class="tab-pane fade">{% block rawdb_content %}
			{% endblock %}</div>
	</div>
</div>








</div>
{% endblock %} {% block styles %} {{super()}}

<!--------------------->
<!-- BOOTSTRAP 3 CSS -->
<!--------------------->

<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

<!--------------------->
<!-- BOOTSTRAP 4 CSS -->
<!--------------------->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">


<!------------->
<!-- Leaflet -->
<!------------->

<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin="" />

<!----------------->
<!-- mystyle.css -->
<!----------------->

<link rel="stylesheet"
	href="{{url_for('.static', filename='mystyle.css')}}">

<!---------------->
<!-- W3 Buttons -->
<!---------------->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<!----------------------->
<!-- Pretty Checkboxes -->
<!----------------------->

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/3.0.0/pretty-checkbox.min.css" />


{% endblock %} {% block scripts %}

<!--************-->
<!-- JQUERY 3.4 -->
<!--************-->

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

<!--************************-->
<!-- BOOTSTRAP 3 JAVASCRIPT -->
<!--************************-->

<!-- <script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->


<!--***********************************************************-->
<!-- BOOTSTRAP 4 JAVASCRIPT + Dependencies: JQUERY SLIM & POPPER.JS -->
<!--(we need ajax so I comment it and use JQUERY 3.4 min instead)-->
<!--***********************************************************-->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>


<!--***********-->
<!-- Moment JS -->
<!--***********-->

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>


<!--**********-->
<!-- Chart JS -->
<!--**********-->

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!--***************************-->
<!-- Chart JS Streaming Plugin -->
<!--***************************-->
<script
	src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@latest/dist/chartjs-plugin-streaming.min.js"></script>
<script
	src="https://unpkg.com/chartjs-plugin-streaming@latest/dist/chartjs-plugin-streaming.min.js"></script>
<!-- CHART.JS DATALABELS AUTOREGISTRATES https://chartjs-plugin-datalabels.netlify.app/guide/ -->
<!-- <script
	src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script> -->
<!-- CHART.JS Color Schemes -->
<!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
<script src="https://unpkg.com/chartjs-plugin-colorschemes"></script> -->


<!--*************-->
<!-- MAP Leaflet -->
<!--*************-->

<!-- Make sure you put this AFTER Leaflet's CSS -->
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	crossorigin=""></script>


<!--**********************************************************-->
<!-- SERVER_ARGON MUST GO LAST BC DEPENDS ON PREVIOUS SCRIPTS -->
<!--**********************************************************-->


<script type="text/javascript" src="/static/js/database.js"></script>
<script type="text/javascript" src="/static/js/geojson.js"></script>
<script type="text/javascript" src="/static/js/map.js"></script>
<script type="text/javascript" src="/static/js/iss.js"></script>
<script type="text/javascript" src="/static/js/iss.js"></script>
<script type="text/javascript" src="/static/js/chart_configs_onRefresh.js"></script>
<script type="text/javascript" src="/static/js/chart.js"></script>




{% endblock %}


