<html>
<head>
{% if title %}
<title>{{ title }} - server_argon</title> {% else %}
<title>server_argon</title> {% endif %}

{% block scripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/database.js"></script>

{% endblock %}

</head>


<body>
	<div>
		server_argon: <a href="{{ url_for('index')}}">Home</a>
		<a href="{{ url_for('delete_all_readings')}}">Delete all readings</a>
		<a href="{{ url_for('add_five_readings_to_db')}}">Add 5 readings to db</a>
		<a href="{{ url_for('send_five_readings_mtqq')}}">Send 5 readings via MTQQ</a>
	</div>
	<hr>
	{% with messages = get_flashed_messages() %} {% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li> {% endfor %}
	</ul>
	{% endif %} {% endwith %} 
	{% block content %}{% endblock %}
</body>
</html>


